*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
	list-style: none;
}
html, body{
	height: 100%;
	width: 100%;
	background-color: #30336b;
}
.container{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}
.container>div{
	margin: 0.3em;
	border-radius: 1em;
	background-color: #535c68;
	display: grid;
	place-content: center;
}
.container>div:hover{
	overflow: hidden;
	box-shadow: black 0 0 2em 0.5em;
}
/*----------Article/Button-------------------*/
.first:hover article{
	display: none;
}
.second:hover article{
	display: none;
}
.third:hover article{
	display: none;
}
.first:hover .button{
	display: block;
}
.second:hover .button{
	display: block;
}
.third:hover .button{
	display: block;
}
article span{
	font-weight: bold;
}
article{
	font-size: 19px;
	color: #c7ecee;
}
article p{
	box-shadow: #537577 0  0em 1em 0;
}
/*-------Button----------*/
.button{
	display: none;
}
a {
	position: relative;
	padding: 1em;
	overflow: hidden;
	display: inline-block;
	text-decoration: none;
	color: white;
	box-shadow: 0 0 0.2em 0.2em #ff6b6b;
}
a span:nth-child(1){
	position: absolute;
	top:0;
	left:-100%;
	width: 100%;
	height: 3px;
	background: linear-gradient(90deg, transparent, #ee5253);
}
a span:nth-child(2){
	position: absolute;
	right: 0%;
	top: -100%;
	width: 3px;
	height: 100%;
	background: linear-gradient(270deg, transparent, #ee5253);
}
a span:nth-child(3){
	bottom: 0;
	position: absolute;
	right: -100%;
	width: 100%;
	height: 3px;
	background: linear-gradient(180deg, transparent, #ee5253);
}
a span:nth-child(4){
	position: absolute;
	left: 0;
	bottom: -100%;
	width: 3px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #ee5253);
}
a:hover span:nth-child(1){
	left: 100%;
	transition: 1s;
}
a:hover span:nth-child(2){
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}
a:hover span:nth-child(3){
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}
a:hover span:nth-child(4){
	bottom: 100%;
	transition: 1s;
	transition-delay: 1s;
}
a:hover{
	background-color: #eb4d4b;
	transition-property: background-color ;
	transition-duration:8s;
	-webkit-transition-duration:8s;
}
/*----------Cube-----------*/
.fifth{
	display: grid;
	place-content: center;
}
#cube--background{
	position: relative;
	height: 100px;
	width: 100px;
	text-align: center;
	perspective:300px;
}
#cube{
	position:relative;
	height: 100%;
	width: 100%;
	transform-style:preserve-3d;
	animation: obrot 16s infinite alternate;
}
#cube sup{
	color: black;
}
#cube>div{
	line-height: 200%;
	opacity: 0.9;
	position: absolute;
	height: 100%;
	width: 100%;
	color: white;
	display: grid;
	place-content: center;
}
.cube--front{
	transform: translateZ(50px);
	background-color: red;
}
.cube--back{
	transform: translateZ(-50px) rotateY(180deg);
	background-color: orange;
}
.cube--top{
	transform: rotateX(90deg) translateZ(50px);
	background-color: yellow;
}
.cube--bottom{
	transform: rotateX(-90deg) translateZ(50px);
	background-color: green;
}
.cube--left{
	transform: rotateY(-90deg) translateZ(50px);
	background-color: blue;
}
.cube--right{
	transform: rotateY(90deg) translateZ(50px);
	background-color: violet;
}

@keyframes obrot
{
  0% { transform:rotateX(0) rotateZ(0); }
  100% { transform:rotateX(360deg) rotateZ(360deg); }
}

@media screen and (max-width:600px){
	/*----------Cube-----------*/
#cube--background{
	height: 50px;
	width: 50px;
}
.cube--front{
	transform: translateZ(25px);
}
.cube--back{
	transform: translateZ(-25px) rotateY(180deg);
}
.cube--top{
	transform: rotateX(90deg) translateZ(25px);
}
.cube--bottom{
	transform: rotateX(-90deg) translateZ(25px);
}
.cube--left{
	transform: rotateY(-90deg) translateZ(25px);
}
.cube--right{
	transform: rotateY(90deg) translateZ(25px);
}
}